body{
  padding: 20px
}


/* normailzation toggle, borrowed from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  margin: 0 6px 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0366d6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0366d6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* label */
span.norm{
  color: grey;
}


/* AXES */
/* ticks */
.axis line {
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: #2b2929;
  font-family: Arial;
  font-size: 88%;
}

/* LINE CHART */
path {
  fill: none;
  stroke: #ed3700;
}

path.ms {
  stroke: #ed3700;
  stroke-width: 2;
}

path.bg {
  stroke: lightgrey;
  stroke-opacity: 0.0;
  stroke-width: 10;
}

path.andere {
  stroke: #2b2929;
  stroke-dasharray: 2;
}

.gebietelabel {
  fill: #2b2929;
  font-family: Arial;
  font-size: 80%;
  display: none;
}

.Münster {
  font-weight: bold;
  display: block;
}

p.fineprint{
  font-size: 0.8em;
  text-align: right;
  padding-right: 12%;
  margin-top: -20px;
}

p.lang{
  font-size: 0.8em;
  text-align: right;
  margin-bottom: -10px;
  padding-right: 12%;
}

.hidden{
  display: none;
}

a.langselecta, a.varselecta{
  padding: 1px 4px 1px 4px;
  margin-right: 5px;
}

a.selected{
  background-color: #0366d6;
  color: white;
}

a.selected:hover{
  text-decoration: none;
}
